@model List<SelectListItem>

@{
    ViewBag.Title = "Get Manufacturer Sales";
}

    <h2>Manufacturer Sales</h2>


<table class="table">
    <tr>
        <th>
            Model Name
        </th>
        <th>
            Total Sales
        </th>

        <th></th>
    </tr>

    @for (int item = 0; item < Model.Count(); item++)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => Model[item].Text)
            </td>
            <td>
                @Html.DisplayFor(model => Model[item].Value)
            </td>


        </tr>
    }

</table>
